@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
  margin: 0;
  background-image: url("../images/wallpaper.jpg");
}

#top-homepage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: transparent;
}

.logo{
  font-weight: 700;
  font-size: 40px;
  color: #c7f8f3;
  font-family: "Funnel Display", sans-serif;

  transition: all 1s ease;
}

.logo:hover{
  font-weight: 800;
  font-size: 43px;
  color: #91f6df;

  text-shadow:
    0 0 5px #91f6df,
    0 0 10px #91f6df,
    0 0 20px #91f6df,
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 30px;
  font-family: "Funnel Display", sans-serif;
}

.nav-links a {
  font-size: 20px;
  text-decoration: none;
  color: #72b2f2;
}

.nav-links a:hover{
  color: #a6cedc;
  text-shadow: 2px 2px 5px #7abfda;
}

#hero{
  text-align: center;
  padding: 80px 20px 80px;
  padding-bottom: 180px;
}

#hero h2{
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 25px;
  font-family: "Funnel Display", sans-serif;
  color: #66fcf1;
}

#hero p{
  color: #c5c6c7;
  font-size: 30px;
  margin-bottom: 40px;
  font-family: "Poiret One", sans-serif;
}

.btn-group{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: "Funnel Display", sans-serif;
}

#start-button{
  text-decoration: none;
  font-size: 23px;
  padding: 10px 20px;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  color: #66fcf1;
  border: 1px Solid #c5c6c7;
  margin-top: 50px;
  box-shadow: 1px 1px 3px #7abfda;
}

#start-button:hover{
  color: #84acc0;
  font-size: 26px;
  transition: 0.3s ease;
  box-shadow: 2px 2px 5px #91f6df;
}

.divider {
  height: 2.5px;
  background: linear-gradient(to right, #1d2f37, #05ecd9);
  width: 100%;
}

#explanation{
  padding-top: 100px;
  justify-content: center;
  background-image: url("../images/wallpaper2.png");
}

#exp1{
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 100px;
  padding-bottom: 100px;
  margin: auto;
  padding-left: 280px;
}

#exp1 h2{
  font-family: "Funnel Display", sans-serif;
  font-size: 45px;
  color: #6da4c8;
}

#exp1 p{
  font-family: "Poiret One", sans-serif;
  font-size: 25px;
  color: #e6ebef;
}

#exp1 img{
  border: 2px Solid #224780;
  border-radius: 7px;
  height: 350x;
  width: 425px;
}

.exp1-text{
  display: flex;
  flex-direction: column;
  max-width: 500px;
}