@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body { font-family: 'Manrope', sans-serif; }

body{
  background-image: url("../../images/redirection-bg.png");
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

#container{
  background-image: url("../../images/redirection.png");
  border: 3px Ridge #2942d0;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container h3{
  font-weight: 700;
  font-size: 50px;
  color: #1b1b6d;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-shadow:
    0 0 5px #accfdb,
    0 0 10px #68cbec,
    0 0 20px #227198;
  padding-top: 20px;
}

#container h5{
  font-weight: 700;
  font-size: 35px;
  color: #2b2c82;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center; 
}

input{
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 10px 10px;
  border: 2px Solid Black;
  color: black;
  width: 450px;
 
}

.buttons-redirect{
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-btn, .signup-btn{
  background-color: #ffffff;
  border: 2px solid #090101;
  border-radius: 4px;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Manrope', sans-serif;
  font-size: 17px;
  padding: 14px 20px;
}

.login-btn:hover, .signup-btn:hover{
  transition: 0.5s all ease;
  box-shadow: 3px 3px 5px #7f96a4;
}

.google-login-btn, .google-signup-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 2px solid #090101;
    border-radius: 4px;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
}

.google-login-btn img, .google-signup-btn img {
    width: 30px;
    margin-right: 10px;
}

.google-login-btn:hover, .google-signup-btn:hover{
    background-color: #d3e4eb;
}